<nav class="navbar navbar-light navbar-expand-md mb-1">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav ml-auto">
      <li routerLinkActive='active'>
        <a class="nav-link" routerLink="ayat">المحرمات</a>
      </li>
      <li routerLinkActive='active'>
        <a class="nav-link" routerLink="auth">تسجيل الدخول</a>
        <a class="nav-link" routerLink="auth">تسجيل الخروج</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>